{% extends 'base.html' %}

{% block titulo %}Resetear Contraseña{% endblock %}

{% block banner %}
    {% include 'banner_publicidad.html' %}
{% endblock %}

{% block content %}

{% if validlink %}

    <div class="container">
        <div class="row justify-content-center mt-2 pt-2 mb-4">
            <div class="col-md-7 form-registro">
                <h1 class="display-6 titulo-form">Solicitaste cambiar la contraseña</h1>
                <hr class="bg-info">
                <p class="mb-0 pb-0">Ingresa tu nueva contraseña</p>
                <!--<p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>-->

                <form method="post">
                    {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <div class="row form-group">
                        <label for="id_new_password1" class="col-form-label col-md-4">Nueva contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="new_password1" value="" id="password1" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="password2" class="col-form-label col-md-4">Confirmar contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="new_password2" value="" id="password2" class="form-control" required>
                        </div>
                    </div>
                    <div class="text-center mb-4">
                        <input type="submit" value = "Enviar" class="btn btn-info btn-form">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% else %}
    <h1 class="text-center" >ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
{% endif %}    

{% endblock %}