{% extends 'base.html' %}

{% block titulo %}Resetear Contraseña{% endblock %}

{% block banner %}
    {% include 'banner_publicidad.html' %}
{% endblock %}

{% block content %}

    <!-- reseteo de contraseña -->
    <div class="container">
        <div class="row justify-content-center mt-2 pt-2 mb-4">
            <div class="col-md-7 form-registro">
                <h1 class="display-6 titulo-form">Resetear contraseña</h1>
                <hr class="bg-info">
                <p class="mb-0 pb-0 text-center">Introduce tu coreo electronico</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="row form-group">
                        <label for="id_email" class="col-form-label col-md-4">E-mail:</label>
                        <div class="col-md-8">
                            <input type="email" name="email" value="" id="nombre" class="form-control" required>
                        </div>
                    </div>
                    <div class="text-center mb-4">
                        <input type="submit" value = "Enviar" class="btn btn-info btn-form">
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}