{% extends 'base.html' %}

{% block titulo %}Cambio de contraseña completo{% endblock %}

{% block banner %}
    {% include 'banner_publicidad.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-2 pt-2 mb-4">
            <div class="col-md-7 form-registro">
                <h1 class="display-6 titulo-form">Cambio de contraseña correcto</h1>
                <hr class="bg-info">

                <div class="text-center mb-4">
                    <p><a class="link-form" href="{% url 'ingreso' %}">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}