{% extends 'base.html' %}

{% block titulo %}Inicio{% endblock %}


{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}

    <!-- nuevo usuario -->
    <div class="container">
        <div class="row justify-content-center mt-2 pt-2">
            <div class="col-md-7 form-registro">
                <h1 class="display-6 titulo-form">Registro nuevo usuario</h1>
                <hr class="bg-info">
                <p class="mb-0 pb-0">Registrar nuevo usuario</p>
                <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row form-group">
                        <label for="nombre" class="col-form-label col-md-4">Nombre:</label>
                        <div class="col-md-8">
                            <input type="text" name="first_name" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.nombre.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="apellido" class="col-form-label col-md-4">Apellido:</label>
                        <div class="col-md-8">
                            <input type="text" name="last_name" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.apellido.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="telefono" class="col-form-label col-md-4">Telefono:</label>
                        <div class="col-md-8">
                            <input type="text" name="telefono" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.telefono.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="email" class="col-form-label col-md-4">Correo:</label>
                        <div class="col-md-8">
                            <input type="email" name="email" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.email.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="direccion" class="col-form-label col-md-4">Dirección:</label>
                        <div class="col-md-8">
                            <input type="text" name="direccion" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.direccion.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="departamento" class="col-form-label col-md-4">Departamento:</label>
                        <div class="col-md-8">
                            {{ form.departamento }}
                        </div>
                        {{form.departamento.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="localidad" class="col-form-label col-md-4">Localidad:</label>
                        <div class="col-md-8">
                            <input type="text" name="localidad" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.localidad.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="nacimiento" class="col-form-label col-md-4">Fecha nacimiento:</label>
                        <div class="col-md-8">
                            <input type="date" name="fecha_nacido" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.fecha_nacido.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="usuario" class="col-form-label col-md-4">Nombre usuario:</label>
                        <div class="col-md-8">
                            <input type="text" name="username" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.nom_usuario.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="pass1" class="col-form-label col-md-4">Contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="password1" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.contraseña.errors}}
                    </div>
                    <div class="row form-group">
                        <label for="pass1" class="col-form-label col-md-4">Contraseña:</label>
                        <div class="col-md-8">
                            <input type="password" name="password2" value="" id="nombre" class="form-control" required>
                        </div>
                        {{form.contraseña.errors}}
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-info btn-form" value="Enviar">
                        <p class="text-danger pt-0 mt-0 mb-4">Ya estas registrado? <a class="link-form" href="login.html">Iniciar sesion</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Final contenido de la pagina -->
    
{% endblock %}









