{% load static %}

<nav class="navbar navbar-expand-lg navbar-light cabecera">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img class="logo" src="{% static 'img/índice.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline justify-content-center align-items-center container my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Que estas buscando?..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Comprobacion si el usuario esta conectado -->
                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.path == 'usuario/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'home' %}"> {{user.username}} </a>
                    </li>
                    <li class="nav-item {% if request.path == 'salir/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'salir' %}">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == 'registrarse/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
                    </li>
                    <li class="nav-item {% if request.path == 'ingreso/' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'ingreso' %}">Ingresar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
