
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
<div class="sidebar-heading">Categorias </div>
<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Alimentos</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Mascotas</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Vahículos</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Telefonia</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Belleza</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Herramientas</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Bebés - Niños</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Deportes</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Hogar</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Servicios</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Video Juegos</a>
</div>
</div>
